/* Estilo geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #106962;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background-color: rgb(42, 137, 150);
    height: 5.6rem;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    width: 150px;
    height: auto;
}

.search-wrapper {
    flex-grow: 1;
    margin: 0 20px;
}

#search-input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    text-decoration: none;
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

nav ul li a:hover{
    background-color: #ffffff;
    color: rgb(42, 137, 150);
}
/* Containers de formulário lado a lado */
.form-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin-top: 100px; /* Adaptação para o header fixo */
    gap: 20px;
}

.form-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    flex: 1;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"] {
    background-color: #0d2e9c;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #7abbda;
}

/* Botões coloridos */
.btn-blue {
    background-color: #0598dc;
}

.btn-purple {
    background-color: #9257f0;
}

.btn-dark-purple {
    background-color: #55137a;
}
